/* The box container div with id 30158 */
	div#rssincl-box-30158 {
		width: 350px; /* sets the width of your RSSbox */
		overflow-x: auto; /* sets a scrollbar if the content is larger than 350px */
	}
 
	/* All elements inside the box container */
	div#rssincl-box-30158 *{
		font-family: Arial, Helvetica, sans-serif; /* sets the font family for all elements within the RSSbox */
		text-align:left; /* sets text-align to left for all elements*/
		margin:0; /* sets margin to zero for all elements*/
		padding:0; /* sets padding to zero for all elements*/
		line-height:110%; /* sets the line-height a bit greater than normal*/
		clear:both; /* no floating in general */
	}
 
	/* The div around the title */
	div#rssincl-box-30158 div.rssincl-head {
		padding:10px; /* sets the padding to 10px*/
                /* set the url to a gradient background image */
		background-image:url('http://www.rssinclude.com/assets/web/images/tutorial/rssinclude_head_bg.gif');
		background-repeat:repeat-x; /* repeats the background image along the x-axis only*/
		background-color: #D93D3D; /* general background color when background image not shown*/
	}
 
	/* The <p> which contains the title of the box, and the <a> tag wrapped around the title (if used) */
	div#rssincl-box-30158 div.rssincl-head p.rssincl-title,
	div#rssincl-box-30158 div.rssincl-head p.rssincl-title a {
		font-size: 18px; /* sets the font size of the title to 18px*/
		font-weight:bold; /* and bold of course */
		color: #FFF; /* colors the title white */
		text-decoration:none; /* no underline */
	}
 
	/* The div around the content elements / news items */
	div#rssincl-box-30158 div.rssincl-content {}
 
	/* The div around each news item */
	div#rssincl-box-30158 div.rssincl-content div.rssincl-entry {
		padding:10px; /* padding to 10px again */
                /* url to gradient background-image */
		background-image:url('http://www.rssinclude.com/assets/web/images/tutorial/rssinclude_item_bg.gif');
		background-repeat:repeat-x; /* image repeats along x-axis only */
		background-color: #F8F8F8; /* background-color when image is not shown */
		border-bottom:1px solid #C0C0C0; /* set grey border bottom */
		border-left:1px solid #C0C0C0; /* set grey border left */
		border-right:1px solid #C0C0C0; /* set grey border right */
	}
 
	/* The <p> tag containing the news item title */
	div#rssincl-box-30158 div.rssincl-content div.rssincl-entry p.rssincl-itemtitle {
		padding:5px; /* padding of title to 5px*/
		padding-left:25px; /* left padding to 25px because of background image (arrow) */
                /* set the url to a background image  */
		background-image:url('http://www.rssinclude.com/assets/web/images/tutorial/rssinclude_arrow.gif');
		background-repeat:no-repeat; /* don't repeat it */
		background-position:0px 3px; /* positioning of background image*/
		margin-bottom:6px; /* margin below the item title*/
	}
 
	/* The <a> tag wrapped around the news item title */
	div#rssincl-box-30158 div.rssincl-content div.rssincl-entry p.rssincl-itemtitle a {
		font-size: 14px; /* font size to 14px */
		font-weight:bold; /* bold */
		text-decoration:underline; /* lets it look like a link */
		color: #333333;	 /* dark grey */
	}
 
	/* Set a color for rolling over the item title*/
	div#rssincl-box-30158 div.rssincl-content div.rssincl-entry p.rssincl-itemtitle a:hover{
		color:#CC0101; /* change font color to red on rollover */
	}
 
	/* The <p> tag containing the item description, and all elements inside this tag */
	div#rssincl-box-30158 div.rssincl-content div.rssincl-entry p.rssincl-itemdesc,
	div#rssincl-box-30158 div.rssincl-content div.rssincl-entry p.rssincl-itemdesc *{
		font-size: 12px; /* general font size 12px */
		color: #333333; /* dark grey */
	}
 
	/* The <p> tag containing the item date, and all elements inside this tag */
	div#rssincl-box-30158 div.rssincl-content div.rssincl-entry p.rssincl-itemdate,
	div#rssincl-box-30158 div.rssincl-content div.rssincl-entry p.rssincl-itemdate *{
		font-size: 10px; /* set date smaller than normal text */
		color: #333333; /* dark grey again */
	}
 
	div#rssincl-box-30158 div.rssincl-content div.rssincl-entry p.rssincl-itemdate {
		margin-bottom:6px; /* a bit of space below the date*/
	}
 
	/* If there are images inside the description, you can style them as well */
	div#rssincl-box-30158 div.rssincl-content div.rssincl-entry div.rssincl-itemdesc img {
		border:0px solid #FFF; /* no border for images inside description tag */
	}
 
	/* There is a clearer div which you can set to "clear:both"... */
	div#rssincl-box-30158 div.rssincl-content div.rssincl-entry div.rssincl-clear {
		clear:both; /* important when using "float" for item elements */
	}