.fixed { position:fixed !important; }

.absolute {
	 position: absolute;
}

.card-table { 
	background-image: url('../images/green-felt.jpg');
	background-size:100% 100%;
	background-repeat:no-repeat;	
}
.img-highlight { 
	outline: 3px solid green; 
}

.cursor-not-allowed {
	cursor:not-allowed;
}

.cursor-pointer {
	cursor: pointer;
	cursor: hand;
}

.text-highlight {
	font-weight: bolder;
    /*text-shadow: 0px 1px 1px #000;*/
    text-shadow: 1px 1px 4px#000;
}

span.codedirection { unicode-bidi:bidi-override; direction: rtl; }

.status {
	 overflow: auto;
}
.vulnerable {
	background-color:rgb(203, 0, 0);
}
.ew-vulnerable {
	border-right:5px solid rgb(203, 0, 0) !important;
	border-left:5px solid rgb(203, 0, 0) !important;
}

.ns-vulnerable {
	border-top:5px solid rgb(203, 0, 0) !important;
	border-bottom:5px solid rgb(203, 0, 0) !important;
}

.right {
	text-align: right;
}

.middle {
	vertical-align: middle !important;
	text-align: center;
}

.table-no-border>thead>tr>th, 
.table-no-border>tbody>tr>th, 
.table-no-border>tfoot>tr>th, 
.table-no-border>thead>tr>td, 
.table-no-border>tbody>tr>td, 
.table-no-border>tfoot>tr>td {
  border-top: none; 
}

.padding-top {
	padding-top:60px;
}

.text-size {
	font-size: 14px;
}