.fixed { position:fixed; }
.table { 
	background-image: url('../images/green-felt.jpg');
	background-size:100% 100%;
	background-repeat:no-repeat;	
}
.img-highlight { outline: 3px solid green; }
    	
    	